h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.scrollbox {
  margin: auto;
  width: 60vw;
  height: 400px;
  overflow: auto; /* or overflow: scroll */
}

.message-box {
  border-radius: 8px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  word-wrap: break-word;
}

.tool-box {
  border-radius: 6px;
  font-size: 0.9em;
}

