[submodule "joplin/codebase"]
	path = apps/joplin/codebase
	url = ../../cy-suite/joplin.git
[submodule "wordpress/codebase"]
	path = apps/wordpress/codebase
	url = ../../cy-suite/WordPress-Android.git
[submodule "apps/owncloud-android/codebase"]
	path = apps/owncloud-android/codebase
	url = ../../cy-suite/owncloud-android-app.git
[submodule "nextcloud-talk/codebase"]
	path = apps/nextcloud-talk/codebase
	url = ../../cy-suite/nextcloud-talk-android.git
[submodule "apps/tindroid/codebase"]
	path = apps/tindroid/codebase
	url = ../../cy-suite/tindroid.git
[submodule "apps/home-assistant-android/codebase"]
	path = apps/home-assistant-android/codebase
	url = ../../cy-suite/home-assistant-android.git
[submodule "apps/openvpn/codebase"]
	path = apps/openvpn/codebase
	url = ../../cy-suite/OpenVPN-Android.git
[submodule "apps/conversations/codebase"]
	path = apps/conversations/codebase
	url = ../../cy-suite/conversations.git
[submodule "apps/audiobookshelf/codebase"]
	path = apps/audiobookshelf/codebase
	url = ../../cy-suite/audiobookshelf-app.git
[submodule "apps/bitwarden/codebase"]
	path = apps/bitwarden/codebase
	url = ../../cy-suite/bitwarden.git
[submodule "apps/termux/codebase"]
	path = apps/termux/codebase
	url = ../../cy-suite/termux.git
[submodule "apps/ankidroid/codebase"]
	path = apps/ankidroid/codebase
	url = ../../cy-suite/AnkiDroid.git
[submodule "apps/gotify/codebase"]
	path = apps/gotify/codebase
	url = ../../cy-suite/gotify.git
[submodule "apps/jellyfin/codebase"]
	path = apps/jellyfin/codebase
	url = ../../cy-suite/jellyfin-android.git
[submodule "apps/simplelogin/codebase"]
	path = apps/simplelogin/codebase
	url = ../../cy-suite/Simple-Login-Android.git
[submodule "apps/openhab/codebase"]
	path = apps/openhab/codebase
	url = ../../cy-suite/openhab.git
[submodule "apps/jerboa/codebase"]
	path = apps/jerboa/codebase
	url = ../../cy-suite/jerboa.git
[submodule "apps/wallabag/codebase"]
	path = apps/wallabag/codebase
	url = ../../cy-suite/wallabag.git
[submodule "apps/davx5/codebase"]
	path = apps/davx5/codebase
	url = ../../cy-suite/DAVx5.git
[submodule "apps/linphone/codebase"]
	path = apps/linphone/codebase
	url = ../../cy-suite/linphone.git
[submodule "apps/moodle/codebase"]
	path = apps/moodle/codebase
	url = ../../cy-suite/moodleapp.git
[submodule "apps/funkwhale/codebase"]
	path = apps/funkwhale/codebase
	url = ../../cy-suite/funkwhale.git
[submodule "apps/deltachat-android/codebase"]
	path = apps/deltachat-android/codebase
	url = ../../cy-suite/deltachat-android.git
[submodule "apps/grocy/codebase"]
	path = apps/grocy/codebase
	url = ../../cy-suite/grocy-android.git
[submodule "apps/miniflutt/codebase"]
	path = apps/miniflutt/codebase
	url = ../../cy-suite/miniflutt.git
[submodule "apps/owntracks/codebase"]
	path = apps/owntracks/codebase
	url = ../../cy-suite/owntracks-android.git
[submodule "apps/thunderbird/codebase"]
	path = apps/thunderbird/codebase
	url = ../../cy-suite/thunderbird-android-app.git
[submodule "apps/ntfy-android/codebase"]
	path = apps/ntfy-android/codebase
	url = ../../cy-suite/ntfy-android.git
[submodule "apps/moememos/codebase"]
	path = apps/moememos/codebase
	url = ../../cy-suite/MoeMemosAndroid.git
