[submodule "signal-android/codebase"]
	path = signal-android/codebase
	url = https://github.com/cy-suite/Signal-Android.git

[submodule "element-android/codebase"]
	path = element-android/codebase
	url = https://github.com/cy-suite/Element-Android.git

[submodule "joplin/codebase"]
	path = joplin/codebase
	url = https://github.com/cy-suite/joplin.git
	
[submodule "nextcloud-talk/codebase"]
	path = nextcloud-talk/codebase
	url = https://github.com/nextcloud/talk-android
