[submodule "joplin/codebase"]
	path = apps/joplin/codebase
	url = https://github.com/cy-suite/joplin.git
[submodule "WordPress/codebase"]
	path = apps/WordPress/codebase
	url = https://github.com/cy-suite/WordPress-Android.git
