check_device.sh
stop_emulator.sh
start_emulator.sh
setup.log
.DS_Store
*.apk
.venv/
pycache/
*.log
baseline_manifest.json
.pytest_cache/
__pycache__/
.reports/
scores.json
baseline.json
secrets.json
public/node_modules
ngrok.yml
baseline_android_dir.txt
after_android_dir.txt
ssh_key
.DS_Store
apps/jitsi-meet/jitsi-docker
.env
!apps/**/.env